# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# streamlit
plotly

# data science
numpy
pandas
scikit-learn
seaborn
datetime
snscrape
nltk
emot
emoji
clean-text
transformers
torch
unidecode

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
requests

# utilities
six>=1.14
joblib
memoized-property
termcolor
